<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Profile - <%= user.nameCapitalize %></title>
</head>
<body>
  <section id="content">
    <div>
      <div class="card-header"></div>
      <div class="card-content">
        <div class="image-header">
          <div class="image">
            <img src="<%= user.image %>" alt="Photo of <%= user.nameCapitalize %>">
          </div>
        </div>
        <div class="description">
          <div class="name"><h1><%= user.nameCapitalize %></h1></div>
          <div class="balance"><h3>Balance : <%= user.balanceIdr %></h3></div>
        </div>
        <div class="cards">
          <link rel="stylesheet" href="/styles/cards.css">
          <div class="card-available">
            <% user.Cards.forEach(card => { %>
              <div class="card">
                <h4><div class="name"><%= card.name %></div></h4>
                <img src="<%= card.image %>" alt="Photo of <%= card.name %>">
                <div class="statistic">
                  <div class="atk">ATK <%= card.atk %></div>
                  <div class="def">DEF <%= card.def %></div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>