<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <link rel="stylesheet" href="styles/shop.css">
  <title>Shop - Barbie Card Shop</title>
</head>
<body>
  <%- include('navbar', { isLogin }) %>
  <section id="content">
    <h1>SHOP</h1>
    <div class="card-available">
      <% cards.forEach(card => { %>
        <div class="card">
          <img src="<%= card.image %>" alt="Photo of <%= card.nameCapitalize %>">
          <a href="/shop/buy/<%= card.id %>">
            <div class="buy-btn">BUY</div>
          </a>
        </div>
      <% }); %>
    </div>
  </section>
</body>
</html>